<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Reservations</ion-title>
    <div>
      <ion-button  [routerLink]="['/tabs']">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-favorites">
    <div class="item" [routerLink]="['/tabs']" >
      <ion-avatar>
        <img
          src="https://image.shutterstock.com/image-vector/portrait-young-handsome-man-hat-600w-1142862698.jpg"
        />
      </ion-avatar>
      <div class="content">
        <p>Los acacios</p>
        <span>Aprovecha de los mejores descuentos</span>
      </div>
      <div>
        <ion-badge>1</ion-badge>
      </div>
    </div>
    <div class="item">
      <ion-avatar>
        <img
          src="https://image.shutterstock.com/image-vector/portrait-young-handsome-man-hat-600w-1142862698.jpg"
        />
      </ion-avatar>
      <div class="content">
        <p>Traje de gala</p>
        <span>Aprovecha de los mejores descuentos</span>
      </div>
      <div>
        <ion-badge>1</ion-badge>
      </div>
    </div>
    <div class="item">
      <ion-avatar>
        <img
          src="https://image.shutterstock.com/image-vector/portrait-young-handsome-man-hat-600w-1142862698.jpg"
        />
      </ion-avatar>
      <div class="content">
        <p>Traje de gala</p>
        <span>Aprovecha de los mejores descuentos</span>
      </div>
      <div>
        <ion-badge>1</ion-badge>
      </div>
    </div>
  </div>
</ion-content>
