.modal__cancel{
    width: max-content;
}
ion-content {
    --padding-end: 2rem;
    --padding-bottom: 4rem;
    --padding-top: 1rem;
    --padding-start: 2rem;
    --background: #ffffff;
  }

.avatar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

ion-avatar{
    width: 5rem;
    height: 5rem;
}

ion-card{
    padding: 1.5rem 1rem;
}