<ion-header>
  <ion-toolbar>
    <ion-title>register-parking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="parking_form" action="" class="form">
    <ion-slides mode="ios" #slideParkingRegister>
      <ion-slide>
        <ion-label>Create your parking</ion-label>
        <div formGroupName="parking" class="register__user">
          <div class="input__custom">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input
              formControlName="slug_name"
              placeholder="Slug name"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input
              formControlName="description"
              placeholder="Description"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input
              formControlName="phone_number"
              placeholder="Phone number"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input
              type="number"
              formControlName="limit_image"
              placeholder="Limit images"
            ></ion-input>
          </div>
        </div>
        <ion-label>Price</ion-label>
        <div formGroupName="price" class="register__user">
          <div class="input__custom">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input
              type="number"
              formControlName="morning"
              placeholder="Morning"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input
              type="number"
              formControlName="evening"
              placeholder="Evening"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input 
              type="number"  
            formControlName="night" placeholder="Night"></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input
              type="number"
              formControlName="weekend"
              placeholder="Weekend"
            ></ion-input>
          </div>
        </div>
        <ion-button (click)="swipeNext()" fill="clear">
          Next
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>
      <ion-slide>
        <ion-label>Address</ion-label>
        <div formGroupName="address" class="register__user">
          <div class="input__custom">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input
              formControlName="country"
              placeholder="Country"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input formControlName="state" placeholder="State"></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input formControlName="city" placeholder="City"></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input
              formControlName="street"
              placeholder="Street"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input
              type="number"
              formControlName="number_street"
              placeholder="Number street"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input
              formControlName="neighbothood"
              placeholder="Neighbothood"
            ></ion-input>
          </div>
          <div class="input__custom">
            <ion-icon name="search-outline"></ion-icon>
            <ion-input
             
              formControlName="description"
              placeholder="Description"
            ></ion-input>
          </div>
        </div>
        <ion-button (click)="onSubmit()">
          Registrar parqueadero
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides>

    <!-- <ion-button (click)="onSubmit()">Register</ion-button> -->
  </form>
</ion-content>

<!-- <pre>
  {{parking_form.value | json}}
</pre> -->
