<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" action="" class="form">
    <div class="input__custom">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input formControlName="username" placeholder="Username"></ion-input>
    </div>
    <div class="input__custom">
      <ion-icon name="key-outline"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
    </div>
    <ion-button>Sign in</ion-button>
  </form>
</ion-content>

<pre>
  {{loginForm.value | json}}
</pre>
