<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <div>
      <ion-button large>
        <ion-icon class="brand__icon" size="large" src="../../../assets/icon/brand.svg"></ion-icon>
      </ion-button>
      <form (ngSubmit)="onSubmit()" class="input__custom search__background">
        <ion-icon name="search-outline"></ion-icon>
        <ion-input
          placeholder="Search parking"
        ></ion-input>
      </form>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
