.search__background{
    background: rgb(248, 248, 248);
    ion-input{
        --padding-top: .5rem ;
        --padding-bottom: .5rem;
    }
}

ion-card{
    display: flex;
    flex-direction: row;
    margin-inline: 0;
    img{
        width: 3rem;
        height: auto;
    }
    div{
        ion-card-header{
            padding-bottom: .5rem;
            padding-top: .5rem;
            ion-card-title{
                font-size: 1.2em;
            }
        }
        ion-card-content{
            font-size: 1em;
            padding-bottom: .5rem;
        }
    }
}
    