ion-toolbar {
  --padding-end: 1rem;
  --padding-start: 1rem;
  --border-style: none;
  --background-color: transparent;
  --background: transparent;
  --ion-color-base: transparent !important;
  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    ion-button{
      --background: #ffffff;
      --padding-end: .5rem;
      --padding-start: .5rem;
      --color: rgb(126, 126, 126);
      --background-activated: rgb(230, 230, 230);
      --color: rgb(126, 126, 126);
      width: 2.5rem;
      height: 2.5rem;
    }
    .brand__icon{
      font-size: 20px;
      zoom: 1.5;
    }
  }
}
ion-content {
  --padding-end: 2rem;
  --padding-bottom: 4rem;
  --padding-top: 2rem;
  --padding-start: 2rem;
  --background: #ffffff;
}

ion-card{
  --background: #fff;
  border-radius: var(--rounded-medium);
  box-shadow: 1px 1px 10px 2px #e7e7e7;
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}