<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <div>
      <ion-button [routerLink]="['/tabs']">
        <ion-icon size="large" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <form [formGroup]="parking_form" action="" class="form">
    <ion-slides mode="ios" #slideParkingRegister>
      <ion-slide>
        <ion-text class="ion-text-start ion-padding-top">
          <h2><strong>Create your parking</strong></h2>
        </ion-text>
        <div formGroupName="parking" class="ion-padding-top">
          <ion-text class="ion-text-start ion-padding-top">
            <h4>Parking</h4>
          </ion-text>
          <!-- <ion-label position="floating" class=ion-text-start>Parking</ion-label> -->
          <p class="description__input">Slugname</p>
          <div class="input__custom">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input
              class="ion-text-start"
              formControlName="slug_name"
              placeholder="Slug name"
            ></ion-input>
          </div>
          <p class="description__input">Name</p>
          <div class="input__custom">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input
              class="ion-text-start"
              formControlName="name"
              placeholder="Name"
            ></ion-input>
          </div>
          <p class="description__input">Description</p>
          <div class="input__custom">
            <ion-icon name="text-outline"></ion-icon>
            <ion-input
              formControlName="description"
              placeholder="Description"
            ></ion-input>
          </div>
          <p class="description__input">Phone number</p>
          <div class="input__custom">
            <ion-icon name="call-outline"></ion-icon>
            <ion-input
              formControlName="phone_number"
              placeholder="Phone number"
            ></ion-input>
          </div>
          <p class="description__input">Limit image</p>
          <div class="input__custom">
            <ion-icon name="image-outline"></ion-icon>
            <ion-input
              type="number"
              formControlName="limit_image"
              placeholder="Limit images"
            ></ion-input>
          </div>
        </div>

        <ion-button slot="end" fill="clear" (click)="swipeNext()">
          Next
        </ion-button>
      </ion-slide>
      <ion-slide>
        <ion-text class="ion-text-start ion-padding-top ion-padding-bottom">
          <h2><strong>Create your parking</strong></h2>
        </ion-text>

        <div formGroupName="address" class="ion-padding-top">
          <ion-text class="ion-text-start ion-padding-top">
            <h4>Address</h4>
          </ion-text>
          <div class="register__user">
            <div>
              <p class="description__input">Country</p>
              <div class="input__custom">
                <ion-icon name="map-outline"></ion-icon>
                <ion-input
                  formControlName="country"
                  placeholder="Country"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">State</p>
              <div class="input__custom">
                <ion-icon name="person-outline"></ion-icon>
                <ion-input
                  formControlName="state"
                  placeholder="State"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">City</p>
              <div class="input__custom">
                <ion-icon name="map-outline"></ion-icon>
                <ion-input
                  formControlName="city"
                  placeholder="City"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">Street</p>
              <div class="input__custom">
                <ion-icon name="search-outline"></ion-icon>
                <ion-input
                  formControlName="street"
                  placeholder="Street"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">Number street</p>
              <div class="input__custom">
                <ion-icon name="calendar-number-outline"></ion-icon>
                <ion-input
                  type="number"
                  formControlName="number_street"
                  placeholder="Number street"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">Neighborhood</p>
              <div class="input__custom">
                <ion-icon name="search-outline"></ion-icon>
                <ion-input
                  formControlName="neighborhood"
                  placeholder="Neighbothood"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">Description</p>
              <div class="input__custom">
                <ion-icon name="text-outline"></ion-icon>
                <ion-input
                  formControlName="description"
                  placeholder="Description"
                ></ion-input>
              </div>
            </div>
          </div>
        </div>
        <ion-button slot="end" fill="clear" (click)="swipeNext()">
          Next
        </ion-button>
      </ion-slide>
      <ion-slide>
        <ion-text class="ion-text-start ion-padding-top ion-padding-bottom">
          <h2><strong>Create your parking</strong></h2>
        </ion-text>
        <div formGroupName="price" class="ion-padding-top">
          <ion-text class="ion-text-start ion-padding-top">
            <h4>Price</h4>
          </ion-text>
          <div class="register__user">
            <div>
              <p class="description__input">Morning</p>
              <div class="input__custom">
                <ion-icon name="partly-sunny-outline"></ion-icon>
                <ion-input
                  type="number"
                  formControlName="morning"
                  placeholder="Morning"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">Evening</p>
              <div class="input__custom">
                <ion-icon name="sunny-outline"></ion-icon>
                <ion-input
                  type="number"
                  formControlName="evening"
                  placeholder="Evening"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">Night</p>
              <div class="input__custom">
                <ion-icon name="moon-outline"></ion-icon>
                <ion-input
                  type="number"
                  formControlName="night"
                  placeholder="Night"
                ></ion-input>
              </div>
            </div>
            <div>
              <p class="description__input">Weekend</p>
              <div class="input__custom">
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-input
                  type="number"
                  formControlName="weekend"
                  placeholder="Weekend"
                ></ion-input>
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="places">
          <ion-text class="ion-text-start ion-padding-top">
            <h4>Number places</h4>
          </ion-text>
          <div  class="register__user">
            <div formGroupName="motorcycle">
              <p class="description__input">Motorcycle</p>
              <div class="input__custom">
                <ion-icon name="bicycle-outline"></ion-icon>
                <ion-input
                  type="number"
                  formControlName="reserved_limit"
                  placeholder="Motorcycle"
                ></ion-input>
              </div>
            </div>
            <div formGroupName="car">
              <p class="description__input">Car</p>
              <div class="input__custom">
                <ion-icon name="car-outline"></ion-icon>
                <ion-input
                  type="number"
                  formControlName="reserved_limit"
                  placeholder="Car"
                ></ion-input>
              </div>
            </div>
            <div formGroupName="bus">
              <p class="description__input">Bus</p>
              <div class="input__custom">
                <ion-icon name="bus-outline"></ion-icon>
                <ion-input
                  type="number"
                  formControlName="reserved_limit"
                  placeholder="Bus"
                ></ion-input>
              </div>
            </div>
          </div>
        </div>
        <ion-button class="button__bg-primary" slot="center" (click)="onSubmit()">
          Registrar parqueadero
        </ion-button>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>

<!-- <pre>
  {{parking_form.value | json}}
</pre> -->
