ion-toolbar {
  --padding-end: 1rem;
  --padding-start: 1rem;
  --padding-bottom: 1rem;
  --border-style: none;
  --background: #ffffff;
  --background-color: #ffffff;
  --ion-color-base: transparent !important;
  div {
    display: flex;
    padding-top: 0.5rem;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    ion-button {
      --background: #ffffff;
      --padding-end: 0.5rem;
      --padding-start: 0.5rem;
      --background-activated: rgb(230, 230, 230);
      --color: rgb(126, 126, 126);
      --box-shadow: 1px 1px 10px 1px #d8d8d8;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
ion-content {
  --padding-end: 2rem;
  --padding-bottom: 4rem;
  --padding-start: 2rem;
/*   --background: #ffffff; */
}
ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }

.register__user{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 8rem),1fr));
}

.button__bg-primary{
  margin-top: 1rem;
  --background: var(--color-primary);
  --background-activated: var(--color-primary-light)
}